/* MAIN FORM */
.App {
  text-align: center;
  background-color: #E6F8FC;
  border: solid black;
  border-width: 1px;
  border-radius: 10px;
  width: 400px;
  padding: 5px;
  position: absolute;
  left: 10%;
  top: 20%;
}

#submitForm {
  background-color: #23E0A8;
  border: solid black;
  border-width: 1px;
  border-radius: 6px;
  font-size: 20px;
  margin: 5%;
  padding: 6px;
  cursor: pointer;
  transition: 0.2s;
}

#submitForm:hover {
  background-color: #007A60;
  color: white;
}

#srcProbe {
  width: 350px;
  font-size: 15px;
  margin: 2%;
}

#destIP {
  width: 355px;
  font-size: 15px;
  margin: 2%;
}

label{
  display:block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
  margin-right: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #AAB4BD;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FCA119;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FCA119;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GRAPH */

#graphArea{
  position: absolute;
  right: 10%;
  top: 20%;
}

.react-flow__node.circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
