.App {
  text-align: center;
  background-color: #E6F8FC;
  border: solid black;
  border-width: 1px;
  border-radius: 10px;
  width: 400px;
  padding: 5px;
  margin-left: 20%;
  margin-top: 15%;
}

#submitForm {
  background-color: #23E0A8;
  border: solid black;
  border-width: 1px;
  border-radius: 2px;
}

#srcProbe {
  width: 350px;
}

#destIP {
  width: 355px;
}

label{
  display:block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
